h1, button, label, option {
    font-family: sans-serif;
}

button {
    width: 10vh;
    height: 10vh;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}